{% extends 'base.html'%}
{% load static %}
<body>
    {% block body%}
    <section class="signup">
        <div class="sigup-phto">
            <div class="form-photo">
                <img src="{% static 'photos/signin-up.png'%}" alt="sign in up photo">
            </div>
            <form method="post" class="form">
                {% csrf_token %}
                {% if form.errors %}
                <div class="error">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}
                <label for="username">Username</label>
                {{ form.username }}

                <label for="password1">Password</label>
                {{ form.password }}

                <a class="forgot-pass"    href="#">forgot your password ?</a>
                <button type="submit" class="submit">Signup</button>
                <!-- <input type="submit" value="Signup" class="submit"> -->
                <a class="have-account"    href="#">Already have an account? Sign In</a>
            </form>
        </div>
    </section>

{% endblock %}


<form method="post" >
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Signup</button>
</form>
