*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
    
}

:root {
    --font-color:#E0E2FB;
    --btn-color:#F476B8;
    --header-font-siza:16px;
    --font-family:'Inter', sans-serif;

}
body{
    background:#050A36;
    display: flex; /* فعال کردن فلکس‌باکس */
    justify-content: center; /* وسط‌چین افقی */
    align-items: center; /* وسط‌چین عمودی */
    flex-direction: column;

}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%; /* عرض ۱۰۰٪ */
    height: 100%; /* ارتفاع ۱۰۰٪ */
}
.my-header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 1140px;
    height: 80px;
}
.logo-items{
    display: flex;
    align-items: center;
    gap: 62px;
}
.logo{
    width: 123px;
    height: 80px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.meno-items{
    font-family: 'Inter', sans-serif;
    font-size: var(--header-font-siza);
    color:var(--font-color);
    padding: 10px;
    
}
.meno-items ul{
    display: flex;
    align-items: center;
    gap: 28px;
}
.meno-items ul a{
    color:var(--font-color);

}
.signin-up a{
    font-family: 'Inter', sans-serif;
    color:var(--font-color);
    font-size: var(--header-font-siza);
    padding: 10px 25px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.hero-section{
    width:1140px ;
    /* background-color: #fff; */
    height: 450px;
    display: flex;
    position: relative;

}
.left-hero{
    /* background-color: #ff7e7e; */
    width: 50%;
    height: 100%;
}
.left-hero h1{
    font-family:var(--font-family);
    font-size: 55px;
    color: var(--font-color);
    padding-top: 170px;
    padding-bottom: 30px;
}
.left-hero p{
    font-family:var(--font-family);
    font-size: 18px;
    color: var(--font-color);
    width:450px;
    height:87px ;

}
.right-lero{
    width: 50%;

}
.right-lero img{
    width: 560px;
    position: absolute;
    left: 125px;
}
.hand{
    width: 600px;
    position: absolute;
    left: 600px;
}
.ball{
    width: 73px;
    height: 76px;
    position: absolute;
    top:100px;
    left: 600px;

}


.hero-btn-text{
    /* background-color: #fff; */
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-btn{
    padding: 20px 34px;
    background: rgb(223,49,153);
    background: linear-gradient(90deg, rgba(223,49,153,1) 0%, rgba(22,34,122,1) 100%);
    color: var(--font-color);
    font-family:var(--font-family);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-weight: bold;
}
.text-number{
    width: 436px;
    height: 60px;

}
.numbers-icons{
    display: flex;
    color: #ffffff;
    gap: 60px;
    font-family:var(--font-family);
}
.numbers-and-texts{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.number{
    font-weight: bold;
    font-size: 24px;
}
.Backend-Developer-Roadmap{
    /* background-color: #fff; */
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}
.Backend-Developer-Roadmap h2{
    font-size: 45px;
    font-family: var(--font-family);
    color: var(--font-color);
    font-weight: bold;
    width: 468px;
}
.roadmap-img{
    /* background-color: #fff; */
    width: 1140px;
    height: 761px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.roadmap-img img{
    width: 100%;
}
.Popular-Courses{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.Popular-Courses h3{
    font-size: 35px;
    font-family: var(--font-family);
    color: var(--font-color);
    font-weight: bold;
    width: 468px;
}
.cards{
    /* background-color: #fff; */
    width: 1140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
}


.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: rgb(244, 118, 183,0.5);
    filter: blur(200px);
    position: absolute;
    top:300px;
    left: 250px;
    box-shadow: 0 0 200px rgb(255, 0, 0.7);
    -webkit-filter: blur(200px);
}



@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Arabic:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* .card{ */
    /* background-color: #3e3e3e; */
    /* font-family: 'Inter', sans-serif;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid white;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    padding: 22px 32px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px; */
/* } */
.card {
    font-family: 'Inter', sans-serif;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid white;
    width: 350px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* آیتم‌ها مرتب پخش بشن */
    padding: 22px 32px;
    border-radius: 24px;

}
.card-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    margin-bottom: 16px;
    /* border-bottom: 1px solid rgb(255, 255, 255); */
}
.card-photo img{

    width: 90%;
    height: 90%;
}
.texts{
    display: flex;
    flex-direction: column;
    text-align: justify; 
    gap: 28px;
}
.course_name{
    font-weight: bold;
    font-size: 24px;
    color: var(--font-color);
}
.texts p{
    font-size: 16px;
    color: var(--font-color);
    width: 100%;  /* عرض مشخص */
    word-wrap: break-word;  /* متن طولانی به چند خط تقسیم می‌شود */

}
.texts-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text_lectures{
    color: var(--font-color);
}
.lectures{
    display: flex;
    align-items: center;
    gap: 8px;
}
.time{
    display: flex;
    align-items: center;
    gap: 8px;
}
.times-of-course{
    color: var(--font-color);
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}
.btn a {
    background-color:var(--btn-color);
    color: var(--font-color);
    border: none;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 92px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
/* ------------------------------------ */

.detail{
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    color: #ffff;
    border: 1px solid white;
    padding: 17px 24px;
    width: 728px;
    height: 60px;
}
.text-icon{
    display:flex;
    align-items: center;
    gap: 8px;
}
.text_title{
    font-weight: bold;
}
.time-video{
    display: flex;
    align-items: center;
    gap: 16px;
}
.icon-video{
    display: flex;
    align-items: center;
    gap: 4px;
}
.icon-time{
    display: flex;
    align-items: center;
    gap: 4px;
}

/* -------------------------------- */
.signup{
    margin-top: 100px;

}
.sigup-phto{
    display: flex;
    align-items: center;
    gap: 150px;
    
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: bold;
    width: 400px;
    color: var(--font-color);
}

.inputs {
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    padding: 16px 20px;
    margin: 8px 0;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.submit{
    color: #E0E2FB;
    width: 100%;
    padding: 16px 20px;
    margin: 8px 0;
    margin-top: 30px;
    border-radius: 4px;
    border: none;
    background: linear-gradient(90deg, rgba(223,49,153,1) 0%, rgba(22,34,122,1) 100%);
}
input::placeholder{
    font-family: var(--font-family);
    color:#b8b8b8;
}
.form-photo{
    width: 296px;
    height: 360px;

}
.form-photo img{
    width: 100%;
    height: 100%;
}
.forgot-pass{
    font-size:13px;
    color:#DF3199;
    margin-left: 260px;
    font-weight: 300;
}
.have-account{
    font-weight: 300;
    font-size:13px;
    color:#DF3199;
    display: flex;
    justify-content: center;
}
.error{
    color: #ef3b3b;
    font-weight: 300;
}

.hello-login{
    font-family: var(--font-family);
    color: #E0E2FB;
}

/* ---------------------- */
.card_and_details_in_detailpage{
    display: flex;
    align-items: center;
    gap: 45px;
    margin-top: 100px;

}
.cards_for_detailpage{
    /* background-color: #fff; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}
/* ----------exercise file------------------ */


.exercise-box{
    /* background-color: #ffff5a; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.boxheader{
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid white;
    border-radius: 8px;
    font-family: var(--font-family);
    color: var(--font-color);
    font-weight: bold;
    width: 1126px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:23px 56px ;
    gap: 443px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.exercise-box-texts{
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    gap: 92px;
}
.difficultytext-icon{
    /* background-color: #e7f94d; */
    display: flex;
    align-items: center;
}
.boxheader-q{
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid white;
    border-radius: 8px;
    font-family: var(--font-family);
    color: var(--font-color);
    width: 1126px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:23px 56px ;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.exercise-box-title-q{
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 92px; */
}
.exercise-box-texts-q{
    /* background-color: #e2baba; */
    display: flex;
    justify-content: space-between;
    width:453px ;
    /* gap: 138px; */
}
/* ----select box */

#level_q{
    font-family: var(--font-family);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    color: var(--font-color);
    border: none;
    font-size: 15px;
    
}
.baner{
    width: 1148px;
    margin-bottom: 50px;
    margin-top: 100px;
}
.baner img{
    width:100% ;
}
.space{
    margin-bottom: 100px;
}